body {
    background-color: #FBFBFD;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* ----header---- */
/* main header */
#main-header {
    background-color: #252526;
    color: #FBFBFD;
    width: 100%;
    padding: 0px 10px;
    top: 0;
    position: fixed;
    opacity: 99%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* nav */ 
.logo {
    position: relative;
}

#navbar {
    justify-content: center;
}

#navbar ul {
    display: inline;
    list-style: none;
    justify-content: center;
}

#navbar li {
    display: inline;
    text-transform: capitalize;
    padding-left: 5px;
    justify-content: center;
}

#main-header a {
    color: #D4D4D4;
    text-decoration: none;
    padding: 10px 0;
}

#main-header a:hover {
    color: #FBFBFD;
}

/* ----content---- */

.container {
    background-color: #D4D4D4;
    border-radius: 5%;
    margin: 100px auto;
    max-width: 40%;
}

.video {
    display: block;
    margin: 0 auto;
    width: 60%;
    
}

h1 {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
}

h2 {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
}
.my-form {
    padding: 20px 25%;
}

.my-form .form-group {
    padding-bottom: 15px;
    
}

.my-form label{
    display: block;
}

.my-form label.inline {
    display: inline;

}

.my-form input[type="text"] {
    padding: 8px;
    width: 50%;
}
.my-form input[type="email"] {
    padding: 8px;
    width: 50%;
}

.my-form input[type="radio"] {
    display: inline;
}

.my-form button {
    background-color: #252526;
    color: #FBFBFD;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    
}

/* mobile media */
@media screen and (max-width: 699px) {
    .container {
        background-color: #D4D4D4;
        border-radius: 0%;
        margin: 100px 0;
        max-width: 100%;
        text-align: left;
    }

    .my-form {
        padding: 20px 5%;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        background-color: #D4D4D4;
        border-radius: 5%;
        margin: 100px auto;
        max-width: 70%;
        text-align: left;
    }
}


/* laptop/desktop media */

@media screen and (min-width: 700px) {
    /* nav */
    #main-header {
        justify-content: center;
    }

    #navbar li {
        padding-left: 15px;
    }

    .logo {
        font-size: 20px;
    }    

}